#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}
textarea{
    background-color:rgb(229, 252, 207);
    font-family: 'Trebuchet MS';
    font-size: 20px;
    resize: none;
    border: 5px dashed goldenrod;
}
.output{
    border: 3px dashed green;
    background-color:rgb(229, 252, 207);
    width: 200px;
    font-family: 'Trebuchet MS';
    
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS';
}

#title{
    font-family: 'Trebuchet MS';
}

body{
    background-color:khaki;
}

#generate{
    margin: 10px;
}

.desc{
    background-color:rgb(229, 252, 207);
    font-family: 'Trebuchet MS';
    border: 3px dashed goldenrod;
    margin: 20px;
    width: 250px;
    text-align: center;
}